# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.qbs.user
*.qbs.user.*
*.pro.user
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

# resource files
*.jpg
*.mp3
*.m4a
libraries/taglib/

# APPENDED FROM TAGLIB
cmake_install.cmake
cmake_uninstall.cmake
Makefile
CTestTestfile.cmake
CMakeFiles/
*.so
*.so.*
*.dylib
*.vcproj
*.ncb
*.sln
*.suo
*.user
.*
*~
libraries/taglibCMakeCache.txt
libraries/taglib/Doxyfile
libraries/taglib/config.h
libraries/taglib/taglib.pc
libraries/taglib/tests/test_runner
libraries/taglib/tests/Testing
libraries/taglib/taglib_config.h
libraries/taglib/taglib-config
libraries/taglib/bindings/c/taglib_c.pc
libraries/taglib/bindings/c/Debug
libraries/taglib/bindings/c/MinSizeRel
libraries/taglib/bindings/c/Release
libraries/taglib/bindings/c/tag_c.dir/Debug
libraries/taglib/bindings/c/tag_c.dir/MinSizeRel
libraries/taglib/bindings/c/tag_c.dir/Release
libraries/taglib/examples/framelist
libraries/taglib/examples/strip-id3v1
libraries/taglib/examples/tagreader
libraries/taglib/examples/tagreader_c
libraries/taglib/examples/tagwriter
libraries/taglib/doc/html
libraries/taglib/taglib/Debug
libraries/taglib/taglib/MinSizeRel
libraries/taglib/taglib/Release
libraries/taglib/taglib/tag.dir/Debug
libraries/taglib/taglib/tag.dir/MinSizeRel
libraries/taglib/taglib/tag.dir/Release
libraries/taglib/ALL_BUILD.dir
libraries/taglib/ZERO_CHECK.dir
libraries/taglib/taglib.xcodeproj
libraries/taglib/CMakeScripts
